@import "../../styles.scss";

.primary {
  font-family: $primary-font;
}

.secondary {
  font-family: $secondary-font;
}

.gray {
  color: $gray-color;
}

.black {
  color: $black-color;
}

.primary {
  color: $primary-color;
}
