@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
div::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes tab-open {
  0% {
    transform: scale(0) translateY(-100%);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: bottom;
  }
}

.tab-animation {
  animation-name: tab-open;
  animation-duration: 1s;
  transform-origin: bottom;
}

a {
  color: #07ead9;
}
